/* just override what you need */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #165dff,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
