/* just override what you need */
@forward "../../../../../node_modules/.pnpm/element-plus@2.13.1_vue@3.5.26_typescript@5.9.3_/node_modules/element-plus/theme-chalk/src/common/var"
  with (
  $colors: (
    "primary": (
      "base": #165dff,
    ),
  )
);

@use "index" as *;
